/*FOOTER*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: sans-serif;
  text-transform: capitalize;
}

.footer {
  background-color: #52545D;
  padding: 10px;
  color: white;
}

.containerr {
  background: #52545D;
  max-width: 1300px;
  max-height: 1000px;
  margin: 0 auto;
}

.seccion1 {
  background: #52545D;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}


/*inicio seccion 1*/
.contenedor1 {
  background: #52545D;
  height: 350px;
  width: 45%;
  font-size: small;
  color: white;
}

.footer-tex1 {
  font-size: small;
  line-height: 1.5em;
}

.footer-row {
  font-size: small;
}

.footer-tex1 h2 {
  background-color: #52545D;
  font-size: 20px;
  height: 60px;
  width: 25em;
}

.footer-tex2 h2 {
  font-size: 20px;
  background-color: #52545D;
  width: 25em;
}

.footer3-row h2 {
  font-size: 20px;
}

.footer-tex2 a i {
  background-color: #52545D;
  font-size: 20px;
  width: 22px;
  margin-right: 5px;
}

.footer-tex1 {
  font-size: small;
}

.footer-tex2 a {
  text-align: left;
}

/*final seccion 1*/

/*inicio seccion 2*/
.contenedor2 {
  background-color: #6c757d;
  height: 300px;
  width: 60%;
  display: flex;
  font-size: 14px;
  border-radius: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.contenedor2.footer2-row {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.footer2-row {
  color: white;
  height: 55%;
  width: 200px;
  margin-top: 10px;
}

.footer2-row2 {
  color: white;
  height: 55%;
  width: 200px;
  margin-top: 10px;

}

.footer2-row3 img {
  max-width: 70px;
  height: auto;
  margin-top: -60px;
}

.footer2-row3 {
  margin-top: 10px;
}

.footer-tex1 hr {
  width: 95%;
}


/*final seccion 2*/

/*inicio seccion 3*/

.seccion2 {
  width: 1300px;
  height: 150px;
  color: #f60;
}


nav>ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  margin: 0.5rem;
}

.footer3-row2 ul {
  list-style: none;
}

.footer3-row2 {
  text-align: left;
}

.footer3-row2 a {
  text-decoration: none;
}

/*final seccion 3*/