/* general */
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #000;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

/* nav */
header {
  margin-top: 1rem;
  padding: 0 1rem;
  border-bottom: 1px solid #e6e6e6;
}

nav {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  width: 100%;
}

nav img {
  width: 336px;
}

nav ul {
  padding-top: 2rem;
}

nav li {
  float: left;
  margin-left: 40px;
}

nav a {
  font-style: italic;
}

/* menu */
#menu {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-weight: 700;
  padding: 30px 0;
  font-size: 18px;
}

#menu ul {
  display: flex;
  flex-direction: row;
}

#menu li {
  margin-left: 40px;
}

#menu span {
  margin-left: 40px;
}

/* Informacion */

/* Titulaciones */
.container{
  max-width: 1200px;
  margin: 50px auto;
}

.titulaciones{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.titulaciones__titulo{
  text-align: center;
  font-size: 32px;
}

.titulaciones__titulo-h2{
  color: #00233b;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.titulaciones__cards{
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.titulaciones__card{
  width: 300px;
  height: 300px;
  background-color: #f7f7f5;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulaciones__card-contenido{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #00233b;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
}

.titulaciones__card-contenido span{
  display: block;
}
.titulaciones__card-contenido > span:nth-child(1){
  font-size: 18px;
}
.titulaciones__card-contenido > span:nth-child(2){
  font-size: 20px;
}
.titulaciones__card-contenido-resoluciones{
  font-size: 10px;
}
.titulaciones__card-enlace{
  color: #ff6600;
  font-size: 20px;
  text-decoration: underline;
}
/* campo laboral */

/* matriculas */

/* footer */
